body {
    background-color: #192f5e;
    font-family: sans-serif;
}

/* ***************** header & nav ************* */
/* Step 1. Style the nav for when it shows, starting with the mobile view, and then hide it */
header {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.toggle-btn {
    border: none;
    background-color: #fff;
}

.toggle-btn:hover {
    cursor: pointer;
}

nav {
    flex: 1 0 100%;
}

.menu a {
    color: #3f3f3f;
    text-decoration: none;
    /* allows the clickable area to take up the full width and height of the li */
    display: block;
}

.menu a:hover,
.menu a:active {
    background-color: gainsboro;
    border-radius: 4px;
}

.menu li {
    line-height: 40px;
    text-align: center;
    margin-bottom: 0.5rem;
}

header nav {
    /* add CSS here */
}

.show-nav {
    /* add CSS here */
}

/* ************ section ************ */
section {
    padding: 3.125rem;
    text-align: center;
    text-transform: uppercase;
}

/* ***************** section ************ */
section {
    padding: 3.125rem;
    text-align: center;
    text-transform: uppercase;
}

section p {
    color: #d5e294;
}

section h2 {
    color: #fff;
    font-size: 3.175rem;
}


@media screen and (min-width: 625px) {
    .toggle-btn {
        display: none;
    }

    header nav {
        /* add CSS here */
    }

    ul.menu {
        display: flex;
        gap: 1rem;
    }

    ul.menu a {
        padding: 0 0.75rem;
    }
}