body {
    background-color: #192f5e;
    font-family: sans-serif;
}

/* ***************** header & nav ************* */
/* Step 1. Style the nav for when it shows, starting with the mobile view, and then hide it */
header {
    background-color: #fff;
    padding: 1rem;
}

.flex-container { /* new parent for header*/
    display: flex;
    flex-flow: wrap;
    justify-content: space-between; /* changing direct parent to fix flex after media query 2*/
}

.gallery {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 1rem;
}

.gallery > div {
    position: relative; /* allows the position element "new" to stick to the img*/
}

span {
    background-color: #87a6ab;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: .3125rem;
    position: absolute;
    top: -25px;
    right: -10px;
    /* once we add the span as a positioned element, it overlaps our nav dropdown. 
    use the z-index to name what elements get put on top. add to header nav */
}

.toggle-btn {
    border: none;
    background-color: #fff;
}

.toggle-btn:hover {
    cursor: pointer;
}

nav {
    flex: 1 0 100%;
}

.menu a {
    color: #3f3f3f;
    text-decoration: none;
    /* allows the clickable area to take up the full width and height of the li */
    display: block;
}

.menu a:hover,
.menu a:active {
    background-color: gainsboro;
    border-radius: 4px;
}

.menu li {
    line-height: 40px;
    text-align: center;
    margin-bottom: 0.5rem;
}

header nav {
    max-height: 0; /* removes nav space but not text, like display none */
    overflow: hidden; /* hides text*/
    transition: max-height 0.5s ease-in-out; /*adds transition to nav when clicked*/
    position: absolute; /* no longer a flex item and loses its background color */
    top: 81px; /* put it below the header*/
    left: 0;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100vw; /* expands the entire width */
    z-index: 1; /* moves nav over our positioned element, "NEW" */
}

.show-nav {
    max-height: 22.5vh; /* reverses hidden overflow and allows js to work*/
}

/* ************ section ************ */
section {
    padding: 3.125rem;
    text-align: center;
    text-transform: uppercase;
}

/* ***************** section ************ */

section p {
    color: #d5e294;
}

section h2 {
    color: #fff;
    font-size: 3.175rem;
    margin-bottom: 1.5rem;
}


@media screen and (min-width: 625px) {
    .toggle-btn {
        display: none;
    }

    header nav {
        max-height: 100%; /* or max-height: unset; sets default height for nav*/
        flex: 0 1 auto;
        position: static; /* resets nav to be at the top after messing with js dropdown */
        width: auto; /* overrides width and pushes nav back to the right */
    }

    header {
        flex-flow: nowrap;
    }

    ul.menu {
        display: flex;
        gap: 1rem;
    }

    ul.menu a {
        padding: 0 0.75rem;
    }
}

@media screen and (min-width: 68.75rem) { 
    .inner-container {
        width: 68.75rem; /* adds fixed width to container to stop it growing*/
        margin: 0 auto;
    }   
}